{% extends "frappe/www/message.html" %}
{% block message_body %}
  <p>
    {{ _("Please confirm you want to") }} <strong>{{ action_label }}</strong>
    {{ _("for employee") }} <strong>{{ employee_name }}</strong>.
  </p>
  {% if alert_doc_change %}
  <p>
    <b>{{ _("Note:") }}</b> {{ _("This record has been modified after the email was sent.") }}
  </p>
  {% endif %}
  <p>
    <a target="_blank" class="underline" href="{{ review_link }}">{{ _("View review record") }}</a>
  </p>
  <a href="{{ action_link }}" class="btn btn-primary btn-action">{{ action_label }}</a>
  <a href="/" class="btn btn-secondary btn-action">{{ _("Cancel") }}</a>
{% endblock %}
